@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --ff-main: 'Outfit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 19rem;
  height: 29rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

div.card > * {
  margin-bottom: 1rem;
}

div.card img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

h1, p {
  text-align: center;
  font-family: var(--ff-main);
}

h1 {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 700;
}

p {
  color: var(--grayish-blue);
  font-size: 15px;
  font-weight: 400;
}

.attribution {
  position: absolute;
  bottom: 0;
}

.attribution a { color: hsl(228, 45%, 44%); }
